#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 100px;

  & a.active {
    color: turquoise;
  }
}

.home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}





*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.character {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
  color: black;
  border: 2px solid var(--card-color-alt);
  border-radius: 6px;
  background-color: white;
  --card-color: #ffffff;
  --card-color-alt: #ffffff80;
  background-image: linear-gradient(135deg,var(--card-color), var(--card-color-alt));


  & img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    filter: drop-shadow(2px 4px 6px black);
  }

  & .info-icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 1;
    &:hover ~ .info {
      bottom: 0;
    }
  }

  & .more-info {
    color: #111;
  }

  & .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background: linear-gradient(transparent, black 60%, black);
    color: white;
    width: 100%;
    height: 50%;
    padding: 1rem;
    bottom: -100%;
    transition: bottom .3s;
    p {
      margin: 0;
    }
  }
  /* &:hover .info {
    bottom: 0;
  } */
  &.selected {
    border-color: var(--card-color);
    background-color: black;
    box-shadow: 0 0 17px 2px var(--card-color);
  }

  &.frieza {
    --card-color: #8450a5;
    --card-color-alt: #8450a580;
  }

  &.namekian {
    --card-color: #65b441;
    --card-color-alt: #65b44180;
  }
  
  &.android {
    --card-color: #f8041a;
    --card-color-alt: #f8041a80;
  }

  &.saiyan {
    --card-color: #aeff00;
    --card-color-alt: #aeff0080;
  }

  &.human {
    --card-color: #ffd7bd;
    --card-color-alt: #ffd7bd80;
  }

  &.majin {
    --card-color: #ffbcb9;
    --card-color-alt: #ffbcb980;
  }

  &.jiren {
    --card-color: #ff1a2a;
    --card-color-alt: #ff1a2a80;
  }

  &.nucleico {
    --card-color: #ace0e9;
    --card-color-alt: #ace0e980;
  }

  &.god {
    --card-color: #ddc4eb;
    --card-color-alt: #ddc4eb80;
  }

  &.evil {
    --card-color: #f7d1fe;
    --card-color-alt: #f7d1fe80;
  }

  &.angel {
    --card-color: #89dcf7;
    --card-color-alt: #89dcf780;
  }
}

.single-character .character-info {
  display: grid;
  grid-template-areas: 'name name'
                       'img info';
  grid-template-columns: 1fr 2fr;
  gap: 2rem;

  & .character-info__img {
    grid-area: img;
    width: 100%;
    height: auto;
    max-height: 40vh;
    object-fit: contain;
    filter: drop-shadow(2px 4px 6px black);
  }

  & .character-info__name {
    grid-area: name;
  }

  & .character-info__info {
    grid-area: info;
    align-self: center;
  }

}